<div class="main_white_content">
    <h3>{{headerTitle}}</h3>
    <filter-generator [schema]="filterSchema" [model]="filterObject" (submit)="onSubmit($event)"></filter-generator>
    <div class="filter more_part">
        <div class="filter_block">
            <div href="" (click)="showFilter = true" *ngIf="!showFilter" class="more">Querie first<i class="glyphicon glyphicon-triangle-bottom"></i></div>
            <div href="" (click)="showFilter = false" *ngIf="showFilter" class="more">Close querie block<i class="glyphicon glyphicon-triangle-top"></i></div>
        </div>
    </div>
    <filter-generator *ngIf="showFilter" [schema]="studyFilterSchema" [model]="filterObject" (submit)="onSubmit($event)"></filter-generator>
    <dicom-list class="float_content" *ngIf="dicomObject && dicomObject.length > 0" [dicomObject]="dicomObject"></dicom-list>
</div>
