
.dashboard{
  padding:30px 5px;
  .dashboard_content{
    width: 100%;
    float: left;
    margin-right: 2px;
    &.right{
      float: right;
    }
    &.graph{
      .dashboard_block{
        background:rgba(28, 36, 43, 0.92);
      }
      div.dashboard_block{
        height:300px;
      }
    }
  }
  .dashboard_module{
    -webkit-box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    -moz-box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .dashboard_block{
    background: rgba(83, 103, 119, 0.92);
    //background: rgba(6, 29, 47, 0.8);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#061d2f+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
/*    background: -moz-linear-gradient(top, rgba(6, 29, 47, 0.60) 0%, rgba(6, 29, 47, 0.87) 100%); //!* FF3.6-15 *!
    background: -webkit-linear-gradient(top, rgba(6, 29, 47, 0.60) 0%,rgba(6, 29, 47, 0.87) 100%);// !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to bottom, rgba(6, 29, 47, 0.60) 0%,rgba(6, 29, 47, 0.87) 100%); //!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    border: none;
    color: white;
    fill: #A0AABE;
    margin-right: 5px;
    float: left;
    flex-grow: 1;
    &:last-child{
      margin-right:0;
    }
  }
  h2.dashboard_block{
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 2px 9px;
    //color:rgba(6, 29, 47, 0.84);
    width: 100%;
    color: white;
    background: rgba(6, 29, 47, 0.71);
    background: -moz-linear-gradient(top, rgba(28, 36, 43, 0.92) 0%,rgba(6, 29, 47, 0.71) 100%);
    background: -webkit-linear-gradient(top, rgba(28, 36, 43, 0.92) 0%,rgba(6, 29, 47, 0.71) 100%);
    background: linear-gradient(to bottom, rgba(28, 36, 43, 0.92) 0%,rgba(6, 29, 47, 0.71) 100%);
    box-sizing: border-box;
    -webkit-box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    -moz-box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
/*    background: -moz-linear-gradient(top, rgba(6, 29, 47, 0.60) 0%, rgba(6, 29, 47, 0.87) 100%); //!* FF3.6-15 *!
    background: -webkit-linear-gradient(top, rgba(6, 29, 47, 0.60) 0%,rgba(6, 29, 47, 0.87) 100%);// !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to bottom, rgba(6, 29, 47, 0.60) 0%,rgba(6, 29, 47, 0.87) 100%); //!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    input{
      color: #444;
      font-size: 15px;
      margin-left: 20px;
      vertical-align: middle;
      padding-left:7px;
    }
  }
  // rgba(28, 36, 43, 0.92) 0%,rgba(6, 29, 47, 0.71)
  .count_block{
    background: -moz-linear-gradient(top, rgba(83, 103, 119, 0.92) 0%,rgba(28, 36, 43, 0.92) 100%);
    background: -webkit-linear-gradient(top, rgba(83, 103, 119, 0.92) 0%,rgba(28, 36, 43, 0.92) 100%);
    background: linear-gradient(to bottom, rgba(83, 103, 119, 0.92) 0%,rgba(28, 36, 43, 0.92) 100%);

    padding: 30px 40px;
    //min-width: 250px;
    height:auto;
    //&:hover{
    //  cursor: pointer;
    //}
    .count{
      width: 100%;
      font-size:55px;
      text-align: center;
      span.glyphicon{
        font-size:45px;
        margin-right:10px;
      }
    }
    .text{
      text-align: center;
    }
  }
  .dashboard_table{
    min-width: 760px;
    background: transparent;
    .table .table{
      background-color: transparent;
    }
    table{
      width: 100%;
      td,th{
        padding:2px 5px;
      }
      th{
        background:rgba(6, 29, 47, 0.71);
        background: -moz-linear-gradient(top, rgba(6, 29, 47, 0.8) 0%, rgba(55, 70, 82, 0.92) 100%);
        background: -webkit-linear-gradient(top, rgba(6, 29, 47, 0.8) 0%, rgba(55, 70, 82, 0.92) 100%);
        background:linear-gradient(to bottom, rgba(6, 29, 47, 0.8) 0%, rgba(55, 70, 82, 0.92) 100%);
        border-bottom:1px solid white;
      }
      td{
        background:rgba(55, 70, 82, 0.92);
      }
    }
  }
  .table_content > table > tbody > tr:hover > td{
    background: white;
    color:#444;
    table {
      color: white;
      &> td {
        background:rgba(55, 70, 82, 0.92);
        color: white;
      }
    }
  }
  .ngx-charts-outer{
    margin: 20px auto;
  }
  .chart-legend .legend-label{
    color:#A0AABE;
  }
  .chart-legend .legend-labels{
    background: transparent !important;
  }
  .chart-legend .legend-label .active .legend-label-text{
    color:white;
  }
  ul.legend-labels{
    max-height:225px !important;
  }
  &.no_data{
    background:rgba(83, 103, 119, 0.92);
    margin-top:30px;
    -webkit-box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    -moz-box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
    box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
  }

}
.error{
  color:rgb(255, 118, 118);
}
