<div class="dashboard">
    <h2>Counts</h2>
    <div class="dashboard_module">
      <div class="count_block">
          <!--<div class="icon"><span class="glyphicon glyphicon-search"></span></div>-->
          <div class="count"><span class="glyphicon glyphicon-search"></span>256</div>
          <div class="text">Queries Count</div>
      </div>
      <div class="count_block">
          <!--<div class="icon"><span class="glyphicon glyphicon-save"></span></div>-->
          <div class="count"><span class="glyphicon glyphicon-open"></span>123</div>
          <div class="text">Retrieves Count</div>
      </div>
      <div class="count_block">
          <div class="icon"></div>
          <div class="count"><span class="glyphicon glyphicon-save"></span>30</div>
          <div class="text">Studies Stored Count</div>
      </div>
      <div class="count_block">
          <!--<div class="icon"><span class="glyphicon glyphicon-warning-sign"></span></div>-->
          <div class="count"><span class="glyphicon glyphicon-warning-sign"></span>0</div>
          <div class="text">Audit Errors</div>
      </div>
      <div class="count_block">
          <!--<div class="icon"><span class="glyphicon glyphicon-exclamation-sign"></span></div>-->
          <div class="count"><span class="glyphicon glyphicon-exclamation-sign"></span>0</div>
          <div class="text">Application Error</div>
      </div>
    </div>
</div>