<div class="left_arrow arrow"  [ngClass]="{'active':activePageEndState ==='second' || activePageEndState ==='third'}" (click)="prev()"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></div>
<div class="right_arrow arrow" [ngClass]="{'active':activePageEndState ==='first' || activePageEndState ==='second'}" (click)="next()"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></div>
<ul class="navigation_point">
    <li (click)="goToPage('home')" [ngClass]="{'active':activePageEndState ==='first'}"></li>
    <li (click)="goToPage('hardware')" [ngClass]="{'active':activePageEndState ==='second'}"></li>
    <li (click)="goToPage('queue')" [ngClass]="{'active':activePageEndState ==='third'}"></li>
</ul>
<div class="dashboard_wrapper">
    <ul class="page_block {{activePageEndState}}">
        <li class="first">
            <dashboard *ngIf="visiblePage.first"><i class="fa fa-circle-o-notch fa-spin dashboard_loader"></i></dashboard>
        </li>
        <li class="second">
            <hardware-dashboard *ngIf="visiblePage.second"><i class="fa fa-circle-o-notch fa-spin dashboard_loader"></i></hardware-dashboard>
        </li>
        <li class="third">
            <queue-dashboard *ngIf="visiblePage.third"><i class="fa fa-circle-o-notch fa-spin dashboard_loader"></i></queue-dashboard>
        </li>
    </ul>
</div>

