<div class="dashboard" *ngIf="queuesAccessable">
  <div class="dashboard_content">
    <h2 class="dashboard_block">Queue</h2>
    <div class="dashboard_module_wrap">
      <div class="list_block" *ngFor="let queue of queueTypes">
        <h4 class="boxh_shadow subheader_gradient">{{queue.description}}</h4>
        <div class="content_list boxh_shadow gradient1">
          <table>
              <tr *ngFor="let status of statuses">
                  <td>{{status}}</td>
                  <td>-</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard statistics_content no_data" *ngIf="!queuesAccessable">
    <h3 class="text-center error">Unable to get queues!</h3>
</div>